<html>
	<head>
		<title>beThink | {% block title %}{% endblock %}</title>
		<link rel="icon" type="image/png" href=""/>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
		<link rel="stylesheet" type="text/css" href="/static/css/color.css">
		<link rel="stylesheet" type="text/css" href="/static/css/form.css">
		{% block styles %}

		{% endblock %}
	</head>
	<body style="font-family:Comfortaa, sans-serif;">
		<div class="responsive-img" style="background-image: url('/static/images/index_intro.png');
																			 background-repeat: no-repeat;
																			 background-size:cover;
																			 background-attachment:fixed;
									 										 background-position:center center;">
		<header>
			<div class="navbar-fixed">
				<div id="nav-anchor"></div>
				<nav id="nav" class="white z-depth-2 nav-offset-on">
					<div class="nav-wrapper container">
						<a href="#intro" class="gray-text hide-on-small-only" style="letter-spacing:10px;font-size:25px"><b class="green-text">be</b>Think</a>
						<a href="#intro" class="gray-text brand-logo center hide-on-med-and-up" style="letter-spacing:10px;font-size:25px"><b class="green-text">be</b>Think</a>
						<ul class="right hide-on-small-only">
							<li><a class="gray-text-light" href="#solution">solução</a></li>
							<li><a class="gray-text-light" href="#who">parceiros</a></li>
							<li><a class="gray-text-light" href="#media">midia</a></li>
							<li><a class="gray-text-light" href="#contact">contato</a></li>
							<li><a class="waves-effect waves-light btn green white-text" style="text-transform:lowercase" href="#"><b>entrar</b></a></li>
						</ul>
						<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-med-and-up"><i class="material-icons gray-text-light">menu</i></a>
					</div>
				</nav>
			</div>
			<ul id="nav-mobile" class="side-nav fixed hide-on-med-and-up" style="transform:translateX(-100%)">
				<div class="card z-depth-0" style="margin-top:14px">
					<div class="card-content">
						<a href="#intro" class="card-title gray-text center" style="letter-spacing:10px;font-size:25px"><b class="green-text">be</b>Think</a>
					</div>
				</div>
				<div class="divider"></div>
				<li class="bold white"><a class="gray-text-light waves-effect" href="#solution">solução</a></li>
				<li class="bold white"><a class="gray-text-light waves-effect" href="#who">parceiros</a></li>
				<li class="bold white"><a class="gray-text-light waves-effect" href="#media">midia</a></li>
				<li class="bold white"><a class="gray-text-light waves-effect" href="#contact">contato</a></li>
				<div class="divider"></div>
      </ul>
		</header>
		<main>
			{% block content %}

			{% endblock %}
		</main>
		<footer class="page-footer green" style="padding:0">
			<div class="footer-copyright green">
				<div class="container">
					© 2017 beThink | Projetado por <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/lu%C3%ADza-zuvanov-300536148/" target="_blank"><b>Luíza Zuvanov</b></a> e desenvolvido por <a class="white-text" href="https://www.linkedin.com/in/andremarcosperez/" target="_blank"> <b>André Perez</b></a>
				</div>
			</div>
		</footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="/static/javascript/base.js"></script>
		<script>
			$(document).ready(function(){

				$('.button-collapse').sideNav({
				    menuWidth: 250,
				    edge: 'left',
				    closeOnClick: true
				  }
				);
				$('.scrollspy').scrollSpy();
				$('.parallax').parallax();
				{% block scriptsReady %}

				{% endblock %}
			});

		</script>
		<script>
		{% block scripts %}

		{% endblock %}
		</script>
	</body>
</html>
