{% extends 'base.html' %}

	{% block title %}

		Home

	{% endblock %}

	{% block content %}


  <div style="vertical-align: top !important;">

    <div class="row" style="margin-bottom:100px">
      <div class="container">
        <div id="intro" class="section scrollspy">
          <div class="col s8">
          </div>
          <div class="col s4">
						<div class="card" style="position:relative; top:50; background: rgba(255, 255, 255, 0.8); border-radius: 25px;">
	            <div class="card-content gray-text center">
	              <span class="card-title left-align">free your <b>data</b> from <b>paper</b></span>
								<div class="input-field">
									<input id="name" type="text" class="validate gray-text" style="border-bottom: 1px solid #00AA8D; box-shadow: 0 1px 0 0 #00AA8D;">
									<label for="name" class="green-text">username</label>
								</div>
								<div class="input-field">
									<input id="institution" type="text" class="validate gray-text" style="border-bottom: 1px solid #00AA8D; box-shadow: 0 1px 0 0 #00AA8D;">
									<label for="institution" class="green-text">institution</label>
								</div>
								<div class="input-field">
									<input id="email" type="text" class="validate gray-text" style="border-bottom: 1px solid #00AA8D; box-shadow: 0 1px 0 0 #00AA8D;">
									<label for="email" class="green-text">email</label>
								</div>
								<div class="input-field">
									<input id="password" type="text" class="validate gray-text" style="border-bottom: 1px solid #00AA8D; box-shadow: 0 1px 0 0 #00AA8D;">
									<label for="password" class="green-text">password</label>
								</div>
								<a class="waves-effect waves-light btn green" style="text-transform:lowercase" href="#"><b>signup</b></a>
	            </div>
	          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row white" style="margin:0px">
      <div class="container">
        <div id="why" class="section scrollspy">
          <div class="col s12">
            <h1 class="green-text">Why</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Why</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Why</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row green" style="margin:0px">
      <div class="container">
        <div id="who" class="section scrollspy">
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
        </div>
      </div>
    </div>


    <div class="row white" style="margin:0px">
      <div class="container">
        <div id="us" class="section scrollspy">
          <div class="col s12">
            <h1 class="green-text">Us</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Us</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Us</h1>
          </div>
        </div>
      </div>
    </div>

  </div>

	{% endblock %}

  {% block scriptsReady %}

  {% endblock %}

	{% block scripts %}

	{% endblock %}
