{% extends 'base.html' %}

	{% block title %}

		Home

	{% endblock %}

	{% block content %}


  <div style="vertical-align: top !important;">

    <div class="row" style="margin:0px">
      <div class="container">
        <div id="intro" class="section scrollspy">
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row white" style="margin:0px">
      <div class="container">
        <div id="why" class="section scrollspy">
          <div class="col s12">
            <h1 class="green-text">Why</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Why</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Why</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row green" style="margin:0px">
      <div class="container">
        <div id="who" class="section scrollspy">
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
          <div class="col s12">
            <h1 class="white-text">Who</h1>
          </div>
        </div>
      </div>
    </div>


    <div class="row white" style="margin:0px">
      <div class="container">
        <div id="us" class="section scrollspy">
          <div class="col s12">
            <h1 class="green-text">Us</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Us</h1>
          </div>
          <div class="col s12">
            <h1 class="green-text">Us</h1>
          </div>
        </div>
      </div>
    </div>

  </div>

	{% endblock %}

  {% block scriptsReady %}

  {% endblock %}

	{% block scripts %}

	{% endblock %}
